
@import '../../../../themes/motos';
@import '~@schibstedspain/sui-theme/lib/index';

// $bdrs-atom-badge: $bdrs-m !default;
// $fz-atom-badge-l: $fz-m !default;
// $fz-atom-badge-s: $fz-xs !default;
// $h-atom-badge-l: 24px !default;
// $h-atom-badge-s: 16px !default;
// $m-atom-badge-l: $m-m !default;
// $m-atom-badge-s: $m-s !default;
// $p-atom-badge: 0 $p-m !default;

$bdrs-atom-badge: $bdrs-l;
$fz-atom-badge-l: $fz-giant;
$fz-atom-badge-s: $fz-xxs;
$h-atom-badge-l: auto;
$h-atom-badge-s: auto;
$m-atom-badge-l: $m-giant;
$m-atom-badge-s: $m-s;
$p-atom-badge: 0 $p-giant;

@import '../../../../components/atom/badge/src/index.scss';