@import './behaviors';

.sui-AtomCard {
  background: var(--sui-atom-card-bg);
  display: flex;
  flex-direction: var(--sui-atom-card-fd);

  &-media {
    width: var(--sui-atom-card-w);
  }

  &-info {
    padding: $p-l;
  }

  &-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}