$c-primary: #37a050 !default;
$c-accent: #4688D7 !default;
$ff-sans-serif: Helvetica, Arial, sans-serif !default;
$fz-base: 13px !default;
$p-base: 9px !default;
$m-base: 9px !default;

@import '../../../../components/atom/button/src/index.scss';
